#products{
	text-align: center;
}

h1{
	padding: 2%;
}

#catalogue-item{
	border: 2px solid #D3D3D3;
	border-radius: 10px;
	padding: 2%;
	margin:1%;
	text-align: center;
}

#desc_book{
	margin : 1%;
	text-align: center;
}

.book_title{
	font-family: Verdana, sans-serif;
	font-variant: small-caps ;
}

#cart-item{
	border: 2px solid #D3D3D3;
	border-radius: 10px;
	padding: 2%;
	margin:1%;
	text-align: center;
}


.empty-cart{
	font-family: Verdana, sans-serif;
	color : #4D4D4D;
	text-align: center;
}

#empty-cart-img{
	padding: 2%;
	height: 100%;
	width : auto;
}

#selected-offer{
	padding : 10px;
	font-style: italic;
}

#cart-price{
	padding : 1%;
	font-family: Avenir, Verdana, sans-serif;
	font-size: large;
	text-align: center;
}

#book-img{
	max-width: 300px;
	max-height: auto;
	padding: 5%;
	display: block;
	margin: auto;
}