<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('assets/img/book-cover.jpg');"></div>
            <div class="carousel-caption">
                <h2>Laisser vous emporter par une aventure romanesque...</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('assets/img/henri-pottier-promotion.jpg');;"></div>
            <div class="carousel-caption">
                <h2>Venez décrouvrir nos promotions magiques ! </h2>
            </div>
        </div>
    </div>

</header>


<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bienvenue à la librairie ! 
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Un service fiable </h4>
                </div>
                <div class="panel-body">
                    <p>Depuis maintenant 20 ans, nous mettons un point d'honneur à servir nos clients avec la plus grande attention. C'est ainsi que nous sommes devenu leader sur le service client, puisque nous avons été élu meilleur service client 4 fois de suite ! </p>
                    <a href="http://www.escda.fr/palmares" class="btn btn-default">Voir le palmares</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-truck"></i> Une livraison rapide </h4>
                </div>
                <div class="panel-body">
                    <p>Nous travaillons étroitement avec UPS afin de vous assurer une livraison modulable : soyez livrés au bureau, à la maison ou en vacances ! Vous pouvez également choisir la date et le lieu de la livraison !</p>
                    <a href="https://www.ups.com/fr" class="btn btn-default">Se renseigner sur UPS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-cart-arrow-down"></i> Economies garanties</h4>
                </div>
                <div class="panel-body">
                    <p>Ayant pour objectif de toujours innover, nous proposons de façon permanente des promotions sur les collections phares du moment. Mais attention, le taux n'est jamais fixe, et dépend de la commande ! </p>
                    <a href="#products" class="btn btn-default">Surprenez moi sur la collection du moment !</a>
                </div>
            </div>
        </div>
    </div>
</div>
